---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/libs/cn"

type Props = HTMLAttributes<"div">

const { class: className, ...attrs } = Astro.props
---

<div
  class={cn("grid xl:my-4 xl:max-w-lg xl:justify-self-center", className)}
  {...attrs}
>
  <slot />
</div>
