---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/modules/shared/libs/cn"

export interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...attrs } = Astro.props
---

<div
  class={cn(
    "card group relative isolate grid overflow-hidden rounded-2xl bg-neutral-700/20 p-0.5",
    className,
  )}
  data-sal="slide-up"
  data-sal-duration="700"
  {...attrs}
>
  <div
    class="inner flex flex-col gap-8 rounded-2xl bg-neutral-800 p-6 transition-all duration-300 ease-in-out group-hover:bg-neutral-800/60 group-hover:backdrop-blur-3xl md:flex-row md:p-10"
  >
    <slot />
  </div>
  <div
    class="blob absolute top-0 left-0 -z-10 size-64 rounded-full bg-neutral-500/50 opacity-0 blur-2xl transition-all duration-300 ease-in-out"
  >
  </div>
  <div
    class="fake-blob invisible absolute top-0 left-0 -z-10 size-52 rounded-full"
  >
  </div>
</div>
