---
import { Picture } from "astro:assets"
import Layout from "@/layouts/Layout.astro"
import meImage from "@/assets/images/me.jpeg"
import Header from "@/components/Header.astro"
---

<Layout>
  <Header />
  <main>
    <section class="container flex justify-between items-center py-20">
      <div>
        <h1 class="text-6xl mb-2">Zoltan Lehoczky</h1>
        <div class="text-slate-400 text-xl max-w-lg">
          Frontend Developer with more than 6 years of professional experience.
        </div>
      </div>
      <Picture
        src={meImage}
        formats={["avif", "webp"]}
        loading={"eager"}
        alt={"My profile picture"}
        class="rounded-full border-2 border-slate-800"
      />
    </section>

    <section class="py-20 bg-slate-800 bg-opacity-50">
      <div class="container">
        <h2 class="text-4xl text-green-500">My Tech Stack</h2>
      </div>
    </section>

    <section class="container flex justify-between items-center py-20">
      <h2 class="text-4xl text-green-500">Noteworthy Projects</h2>
    </section>

    <section class="py-20 bg-slate-800 bg-opacity-50">
      <div class="container">
        <h2 class="text-4xl text-green-500">I'm passionate about...</h2>
      </div>
    </section>
  </main>
</Layout>
