---
import { Picture } from "astro:assets"
import Layout from "@/layouts/Layout.astro"
import meImage from "@/assets/images/me.jpeg"
import Header from "@/components/Header.astro"
import TechStack from "@/components/TechStack.vue"
---

<Layout>
  <Header />
  <main>
    <section class="container flex justify-between items-center py-20">
      <div>
        <h1 class="text-6xl mb-4">Zoltan Lehoczky</h1>
        <div class="text-neutral-400 text-xl max-w-lg">
          Frontend Developer with more than 6 years of professional experience.
        </div>
      </div>
      <Picture
        src={meImage}
        width={350}
        height={350}
        formats={["avif", "webp"]}
        loading={"eager"}
        alt={"My profile picture"}
        class="rounded-full border-2 border-neutral-800 animate-appear"
      />
    </section>

    <section class="py-20 bg-neutral-800 bg-opacity-50">
      <TechStack client:load />
    </section>
  </main>

  <section class="container flex justify-between items-center py-20">
    <h2 class="text-4xl text-green-500">Noteworthy Projects</h2>
  </section>

  <section class="py-20 bg-neutral-800 bg-opacity-50">
    <div class="container">
      <h2 class="text-4xl text-green-500">I'm passionate about...</h2>
    </div>
  </section>
</Layout>
