---
import Footer from "./components/Footer.astro"
import Head from "./components/Head.astro"
import Header from "./components/Header.astro"
import ScrollAnimationNoScript from "./components/ScrollAnimationNoScript.astro"
import { bodyScrolledObserverElementId } from "./constants"

const lang = "en-US"
---

<!doctype html>
<html lang={lang}>
  <Head
    title="Zoltan Lehoczky | Frontend Web Dev"
    description="Zoltan Lehoczky's personal website"
    lang={lang}
    ogImage="/og-image.png"
  />
  <body class="bg-neutral-900 text-neutral-300">
    <Header />
    <div id={bodyScrolledObserverElementId} class="absolute top-0"></div>
    <main>
      <slot />
    </main>
    <Footer />
    <ScrollAnimationNoScript />
  </body>
</html>
