---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/modules/shared/libs/cn"

type Props = HTMLAttributes<"div">

const { class: className, ...attrs } = Astro.props
---

<div
  class={cn(
    "grid grid-cols-1 items-center gap-6 xl:grid-cols-2 xl:gap-20",
    className,
  )}
  {...attrs}
>
  <slot />
</div>
