---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/modules/shared/libs/cn"

type Props = HTMLAttributes<"div">

const { class: className, ...attrs } = Astro.props
---

<div class={cn("space-y-2 text-lg md:text-xl", className)} {...attrs}>
  <slot />
</div>
