---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/modules/shared/libs/cn"

type Props = HTMLAttributes<"h3">

const { class: className, ...attrs } = Astro.props
---

<h3 class={cn("mb-4 text-3xl lg:mb-8", className)} {...attrs}><slot /></h3>
