---
import Head from "@/components/Head.astro"

const lang = "en-US"
---

<!doctype html>
<html lang={lang}>
  <Head
    title="Zoltan Lehoczky | Frontend Web Dev"
    description="Zoltan Lehoczky's personal website"
    lang={lang}
    ogImage="/og-image.png"
  />
  <body class="bg-neutral-900 text-neutral-300">
    <slot />
  </body>
</html>
