<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Zoltan Lehoczky's personal website" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="https://lehoczky.dev/og-image.jpeg" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Zoltan Lehoczky | Frontend Web Dev</title>
  </head>
  <body class="bg-neutral-900 text-neutral-300">
    <slot />
  </body>
</html>
